# Just a playground to test various things :)

In [1]:
import pandas as pd

In [2]:
# Load the JSON file
df_posts = pd.read_json('../data/dataset.json')
df_posts.head()

,timestamp,text,text_id,user,user_id
0,2024-10-31,Running a business means juggling countless ad...,2018569761,danielwoodard,1077866112
1,2024-10-31,Liz Truss is walking in the lingering shadow o...,2092717718,nelsonjacqueline,1089670430
2,2024-10-31,The UK is bracing for war as government buildi...,2059143248,ihooper,1007478642
3,2024-10-31,Marrying a second or third cousin once removed...,2008209828,wrightnicholas,1039258480
4,2024-10-31,It's truly disgraceful how the Indian National...,2001239278,michael51,1021455936

In [8]:
df_posts[df_posts['text_id'] == 2007641313]['text'].values[0]

'Here we go again! @jessegarcia @donald91 @oschroeder @caitlinoconnell @ashley91 @mallory83 @jacqueline92 @wjohnson @omendez @xrodriguez @vjames ðŸ˜‚'

In [5]:
data = pd.read_csv('../output/preprocessed.csv')

In [6]:
non_str_texts = data[~data['text'].apply(lambda x: isinstance(x, str))]
non_str_texts

,timestamp,text,text_id,user,user_id,hashtags,mentions,frequency,language
3028,00:52:19,NaN,2036178966,brettshaw,1050289297,['#VoteThemOut'],['davispamela'],1,en
3078,00:53:13,NaN,2007641313,youngkrista,1018490965,[],"['jessegarcia', 'donald91', 'oschroeder', 'cai...",1,en
5713,01:37:35,NaN,2052904952,dillonanthony,1029725057,"['#brian36', '#WoT', '#RenewTheShow']","['talvarez', 'brian36', 'richardsonmicheal', '...",1,NaN
6663,01:54:20,NaN,2063227611,hmcpherson,1013503850,"['#GoodVibesOnly', '#FunTimes', '#LaughTogether']","['jessicagarcia', 'jkelly', 'sarahwest', 'alex...",1,NaN
6873,01:58:12,NaN,2099753786,andrewyates,1055626380,['#TheVoiceThailand'],['acevedorachel'],1,NaN
...,...,...,...,...,...,...,...,...,...
64055,22:26:32,NaN,2096991719,mosesjason,1056616641,"['#Unbelievable', '#IsThisRealLife']","['heather58', 'hillemily', 'jasonperez', 'mcor...",1,en
65484,23:01:51,NaN,2021377200,donnahansen,1008300571,"['#TruthMatters', '#AmericaFirst']","['michelle87', 'dennis32', 'scottfisher', 'cor...",1,NaN
65985,23:13:37,NaN,2095635177,joshua80,1082152423,"['#à¸‡à¸²à¸™à¸ž', '#à¹„à¸¡', '#à¹€à¸„à¸£']","['wilsonbenjamin', 'sarah79']",1,NaN
66599,23:29:09,NaN,2006149021,kathleenrogers,1002836211,"['#ALDUBMagic', '#ForeverALDUB']","['dbray', 'nicole88', 'clopez', 'dmurray', 'gr...",1,NaN
66860,23:35:41,NaN,2032092046,brenda29,1017155729,"['#EndlessNumbers', '#InfinityChallenge']",['adamblake'],1,NaN