# Just a playground to test various things :)

In [2]:
import pandas as pd

In [3]:
# Load the JSON file
df_posts = pd.read_json('../data/dataset.json')
df_posts.head()

,timestamp,text,text_id,user,user_id
0,2024-10-31,Running a business means juggling countless ad...,2018569761,danielwoodard,1077866112
1,2024-10-31,Liz Truss is walking in the lingering shadow o...,2092717718,nelsonjacqueline,1089670430
2,2024-10-31,The UK is bracing for war as government buildi...,2059143248,ihooper,1007478642
3,2024-10-31,Marrying a second or third cousin once removed...,2008209828,wrightnicholas,1039258480
4,2024-10-31,It's truly disgraceful how the Indian National...,2001239278,michael51,1021455936

In [4]:
text = df_posts[df_posts['text_id'] == 2058222538]['text'].values[0]
text

'@kristen54 #‡§ß‡§∞‡•ç‡§Æ_‡§ï‡•Ä_‡§∏‡•Å‡§∞‡§ï‡•ç‡§∑‡§æ Where is the justice for our beliefs? Hindus like #BapuJi face relentless scrutiny while others seem untouchable. Time for change! üîç‚úä https://t.co/hinzqgayLE'